

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  /* grid-template-columns: repeat(2, 2fr 1fr); */
  /* grid-column-gap:1em;
  grid-row-gap: 1em; */

  /* grid-template-rows: 2fr 1fr;
align-items: center;
justify-content: center;
  grid-gap: 1em; */
  /* grid-auto-rows:300px; */

  /* for flexible height to adjust to contents use minmax */
  grid-auto-rows: minmax(200px, auto);
margin: 0%;
  background-color: #EEE4E1;
}


/* layout of components in a grid */
/* .grid-container > div{ */
  /* background-color: aqua; */
  /* padding: 1em; */
/* } */





